<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>

  </head>
    <body style="font-size:20px; padding:50px;">
      <h1>Registration Form</h1>
        <form action="/register" method="POST" style="margin:150px;">
          <label for="email"> Enter e-mail:</label>
            </br>
              <input type="email" name="email" placeholder="email">
            </br>
          <label for="password"> Enter your password here *wink wink*:</label>
            </br>
              <input type="password" name="password" placeholder="password">
              <input type='submit'" value='Submit'>
        </form>
  </body>
</html>